@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navOffset {
    @apply bg-[#ecf6ff] text-[#4da1fd] border-[#5377f8] hover:border-[#4da1fd] hover:bg-[#4da1fd] hover:text-white;
  }
}

body {
  @apply font-[mulish];
}

.scrollBarHide::-webkit-scrollbar {
  display: none;
}

.scrollBarHide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
