.HowItWorks {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  width: 314px;
  background-color: white;
  color: black;
  border: 1px black solid;
  border-radius: 5px;
  gap: 15px;
}
.ExampleCard {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    width: 314px;
    background-color: white;
    color: black;
    border: 1px black solid;
    border-radius: 5px;
    gap: 15px;
}
.Schedule {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    width: 314px;
    background-color: white;
    color: black;
    border: 1px black solid;
    border-radius: 5px;
    gap: 15px;
  }
  .ScheduleText {
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-align: justify;
  }
  .SimpleTask {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    width: 314px;
    background-color: white;
    color: black;
    border: 1px black solid;
    border-radius: 5px;
    gap: 15px;
  }
  .SimpleTaskText {
    font-size: x-large;
  }
  .TextSim {
    font-size: large;
    text-align: justify;
  }
  .texthow {
    font-size: large;
    text-align: justify;
  }
  .TextSche {
    font-size: large;
    text-align: justify;
  }